<section class="register min-h-screen flex items-center justify-center">
  <div class="w-full bg-transparent p-4 sm:p-6 max-w-sm mx-auto ">
    <h1 class="text-3xl font-bold text-gray-900 mb-4">Create Account</h1>

    <form [formGroup]="registerForm" (submit)="submitRegister()" class="space-y-2">
      <!-- First & Last Name -->
      <div class="flex gap-2">
        <div class="flex-1">
          <label for="firstName" class="block text-md font-medium text-gray-700 mb-1"
            >First name</label
          >
          <input
            id="firstName"
            type="text"
            formControlName="firstName"
            placeholder="firstName"
            class="w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-sm bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-white placeholder-gray-500 dark:placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
            [class.border-red-500]="
              registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched
            "
          />
         <app-input-error [control]="registerForm.get('firstName')"></app-input-error>
        </div>
        <div class="flex-1">
          <label for="lastName" class="block text-md font-medium text-gray-700 mb-1"
            >Last name</label
          >
          <input
            id="lastName"
            type="text"
            formControlName="lastName"
            placeholder="lastName"
            class="w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-sm bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-white placeholder-gray-500 dark:placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
            [class.border-red-500]="
              registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched
            "
          />
         <app-input-error [control]="registerForm.get('lastName')"></app-input-error>
        </div>
      </div>

      <!-- Username -->
      <div>
        <label for="username" class="block text-md font-medium text-gray-700 mb-1">Username</label>
        <input
          id="username"
          type="text"
          formControlName="username"
          placeholder="user123"
          class="w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-sm bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-white placeholder-gray-500 dark:placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
          [class.border-red-500]="
            registerForm.get('username')?.invalid && registerForm.get('username')?.touched
          "
        />
        <app-input-error [control]="registerForm.get('username')"></app-input-error>
      </div>

      <!-- Email -->
      <div>
        <label for="email" class="block text-md font-medium text-gray-700 mb-1">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="user@example.com"
          class="w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-sm bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-white placeholder-gray-500 dark:placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
          [class.border-red-500]="
            registerForm.get('email')?.invalid && registerForm.get('email')?.touched
          "
        />
        <app-input-error [control]="registerForm.get('email')"></app-input-error>
      </div>

      <!-- Phone -->
      <div class="w-full max-w-md">
        <label for="phone" class="block text-md font-medium text-gray-700 dark:text-gray-300 mb-1"
          >Phone</label
        >
        <div class="flex items-center relative">
          <button
            (click)="toggleDropdown()"
            type="button"
            class="inline-flex items-center py-2 px-2.5 text-sm font-medium text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:ring-gray-100 dark:bg-gray-700 dark:text-white dark:border-gray-600 dark:hover:bg-gray-600"
          >
            <img [src]="selectedCountry().flag" alt="flag" class="h-4 w-6 me-2 rounded-sm" />
            <span>{{ selectedCountry().code }}</span>
            <div class="inline-flex flex-col">
              <svg
                class="w-2.5 h-2.5 ms-2.5"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 5 4-4 4 4"
                />
              </svg>
              <svg
                class="w-2.5 h-2.5 ms-2.5"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </div>
          </button>
          <input
            id="phone"
            type="tel"
            formControlName="phone"
            placeholder="Enter phone number"
            class="flex-1 p-2 text-sm text-gray-900 bg-gray-50 border border-gray-300 rounded-e-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white w-[320px] sm:w-[380px] md:w-[420px]"
          />
          @if (isDropdownOpen()) {
          <ul
            class="absolute left-0 top-full mt-1 w-56 bg-white rounded-lg shadow text-sm text-gray-700 dark:bg-gray-700 dark:text-gray-200 z-50 max-h-56 overflow-auto"
          >
            @for (country of countries(); track country.code) {
            <li>
              <button
                type="button"
                (click)="selectCountry(country)"
                class="flex items-center w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600"
              >
                <img [src]="country.flag" alt="flag" class="h-4 w-6 me-2 rounded-sm" />
                <span>{{ country.name }} ({{ country.code }})</span>
              </button>
            </li>
            }
          </ul>
          }
        </div>
         <app-input-error [control]="registerForm.get('phone')"></app-input-error>
      </div>

      <!-- Password & Confirm Password -->
      <div>
        <label
          for="password"
          class="block text-md font-medium text-gray-700 dark:text-gray-300 mb-1"
          >Password</label
        >
        <div class="relative">
          <input
            id="password"
            [type]="showPassword() ? 'text' : 'password'"
            formControlName="password"
            autocomplete="current-password"
            placeholder="Enter your password"
            class="block w-full px-3 py-2 pr-10 border border-gray-300 dark:border-gray-600 rounded-sm bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-white placeholder-gray-500 dark:placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
            [class.border-red-500]="
              registerForm.get('password')?.invalid && registerForm.get('password')?.touched
            "
          />
          <button
            type="button"
            (click)="togglePasswordVisibility()"
            class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 hover:text-gray-600 dark:hover:text-gray-300"
          >
            @if (!showPassword()) {
            <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
              ></path>
            </svg>
            } @if (showPassword()) {
            <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.878 9.878L3 3m6.878 6.878L21 21"
              ></path>
            </svg>
            }
          </button>
        </div>

        <app-input-error [control]="registerForm.get('password')"></app-input-error>
      </div>

      <div>
        <label
          for="rePassword"
          class="block text-md font-medium text-gray-700 dark:text-gray-300 mb-1"
          >Confirm Password</label
        >
        <div class="relative">
          <input
            id="rePassword"
            [type]="showConfirmPassword() ? 'text' : 'password'"
            formControlName="rePassword"
            autocomplete="current-password"
            placeholder="Confirm Password"
            class="block w-full px-3 py-2 pr-10 border border-gray-300 dark:border-gray-600 rounded-sm bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-white placeholder-gray-500 dark:placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
            [class.border-red-500]="
              registerForm.get('rePassword')?.invalid && registerForm.get('rePassword')?.touched
            "
          />
          <button
            type="button"
            (click)="toggleConfirmPasswordVisibility()"
            class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 hover:text-gray-600 dark:hover:text-gray-300"
          >
            @if (!showConfirmPassword()) {
            <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
              ></path>
            </svg>
            } @if (showConfirmPassword()) {
            <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.878 9.878L3 3m6.878 6.878L21 21"
              ></path>
            </svg>
            }
          </button>
        </div>
        <app-input-error [control]="registerForm.get('rePassword')"></app-input-error>
      </div>
       @if (errorMessage()) {
          <div
            class="relative text-center mx-auto bg-red-50 dark:bg-red-900/20 border border-red-200 dark:border-red-800 text-red-600 dark:text-red-600 px-4 py-3 rounded-sm text-md fw-semibold"
          >
            <<button
              (click)="closeError()"
              class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-5 h-5 rounded-full border border-red-600 dark:border-red-400 text-red-600 dark:text-red-400 font-bold hover:bg-red-100 dark:hover:bg-red-700 flex items-center justify-center"
            >
              &times;
            </button>

            {{ getShortError(errorMessage()) }}
          </div>
          }

      <!-- Submit Button -->
      <button
        type="submit"
        [disabled]="isLoading()"
          class="btn group relative flex justify-center" >
        @if (isLoading()) {
        <svg
          class="animate-spin -ml-1 mr-2 h-4 w-4 text-white inline"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        Creating Account... } @else { Create Account }
      </button>

      <!-- Footer -->
      <div class="text-sm text-gray-500 text-center pt-1">
        Already have an account?
        <a routerLink="/auth/login" class="text-blue-500 hover:underline font-semibold ms-2.5"
          >Login</a
        >
      </div>
    </form>
  </div>
</section>
