<section>
  <!-- virfy email -->
  @if (currentStep() === 'email') {
  <div class="w-full py-8 px-6 sm:min-w-xl p-4 sm:p-2 md:p-3 bg-transparent">
    <div class="w-full py-8 px-6 sm:min-w-xl p-4 sm:p-2 md:p-3 bg-transparent">
      <div class="mb-5">
        <h5 class="text-4xl font-bold text-gray-900">Forgot Password</h5>
        <p
          class="font-mono font-normal text-[16px] tracking-normal align-middle text-gray-500/80 mt-3 text-justify"
        >
          Don’t worry, we will help you recover your <span class="block">account.</span>
        </p>
      </div>
      <form [formGroup]="emailForm" (submit)="emailSubmit()" class="space-y-6">
        <!-- Email Field -->
        <div class="w-full">
          <label
            for="email"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2"
          >
            Email Address
          </label>
          <input
            id="email"
            type="email"
            formControlName="email"
            autocomplete="email"
            placeholder="Enter your email"
            class="block w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-sm bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-white placeholder-gray-500 dark:placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
            [class.border-red-500]="
              emailForm.get('email')?.invalid && emailForm.get('email')?.touched
            "
          />
         <app-input-error [control]="emailForm.get('email')"></app-input-error>
        </div>
        <div>
           @if (errorMessage()) {
          <div
            class="relative mb-5 w-full text-center mx-auto bg-red-50 dark:bg-red-900/20 border border-red-200 dark:border-red-800 text-red-600 dark:text-red-600 px-4 py-3 rounded-sm text-md fw-semibold"
          >
            <<button
              (click)="closeError()"
              class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-5 h-5 rounded-full border border-red-600 dark:border-red-400 text-red-600 dark:text-red-400 font-bold hover:bg-red-100 dark:hover:bg-red-700 flex items-center justify-center"
            >
              &times;
            </button>

            {{(errorMessage())}}
          </div>
          }
          <button
            type="submit"
            [disabled]="isLoading()"
            class="btn group relative flex justify-center" >
            @if (isLoading()) {
            <svg
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            Processing... } @else { Continue
            <span class="ml-2 transition-transform group-hover:translate-x-1">→</span> }
          </button>
        </div>
      </form>
      <div class="mt-6 text-center text-gray-600 dark:text-gray-300 text-sm">
        Don’t have an account?
        <a
          routerLink="/auth/register"
          class="text-blue-500 dark:text-blue-400 hover:underline ms-2.5"
        >
          Create Yours
        </a>
      </div>
    </div>
  </div>
  }
  <!-- otp -->
  @if (currentStep() === 'otp') {
  <div class="w-full py-8 px-6 sm:min-w-xl p-4 sm:p-2 md:p-3 bg-transparent">
    <div class="w-full py-8 px-6 sm:min-w-xl p-4 sm:p-2 md:p-3 bg-transparent">
      <div class="mb-5">
        <h5 class="text-4xl font-bold text-gray-900">Verify OTP</h5>
        <p
          class="font-mono font-normal text-[16px] tracking-normal align-middle text-gray-500/80 mt-3 text-justify"
        >
          Please enter the 6-digits code we have sent to:
          <span class="block">
            {{ userEmail()}}
            <button class="ml-2.5 text-blue-600 font-bold cursor-pointer hover:underline"
              (click)="editEmail()"
              >Edit</button
            >
          </span>
        </p>
      </div>

      <form [formGroup]="otpForm" (submit)="otpSubmit()" class="space-y-6">
        <div class="flex justify-center">
          <div class="flex gap-3">
            <input
              type="text"
              maxlength="1"
              required
              formControlName="d1"
              class="w-10 h-10 text-center rounded-sm bg-transparent text-gray-700 font-semibold focus:bg-transparent focus:outline-none caret-indigo-600"
            />
            <input
              type="text"
              maxlength="1"
              required
              formControlName="d2"
              class="w-10 h-10 text-center rounded-sm bg-transparent text-gray-700 font-semibold focus:bg-transparent focus:outline-none caret-indigo-600"
            />
            <input
              type="text"
              maxlength="1"
              required
              formControlName="d3"
              class="w-10 h-10 text-center rounded-sm bg-transparent text-gray-700 font-semibold focus:bg-transparent focus:outline-none caret-indigo-600"
            />
            <input
              type="text"
              maxlength="1"
              required
              formControlName="d4"
              class="w-10 h-10 text-center rounded-sm bg-transparent text-gray-700 font-semibold focus:bg-transparent focus:outline-none caret-indigo-600"
            />
            <input
              type="text"
              maxlength="1"
              required
              formControlName="d5"
              class="w-10 h-10 text-center rounded-sm bg-transparent text-gray-700 font-semibold focus:bg-transparent focus:outline-none caret-indigo-600"
            />
            <input
              type="text"
              maxlength="1"
              required
              formControlName="d6"
              class="w-10 h-10 text-center rounded-sm bg-transparent text-gray-700 font-semibold focus:bg-transparent focus:outline-none caret-indigo-600"
            />
          </div>
        </div>
        @if(currentStep()==='otp'){
         <div class="text-center text-gray-600 mt-3">
          <p class="flex justify-center text-sm text-gray-500 mt-1">
          You can request another code in: {{ countdown()}}s
        </p>
        @if(countdown()===0){
          <button
            type="button"
            (click)="resentode()"
            class="text-blue-600 hover:underline text-sm mt-2 cursor-pointer"
          >
            Resend Code
          </button>
        }
         </div>
        }
         @if (errorMessage()) {
          <div
            class="relative mb-5 w-full text-center mx-auto bg-red-50 dark:bg-red-900/20 border border-red-200 dark:border-red-800 text-red-600 dark:text-red-600 px-4 py-3 rounded-sm text-md fw-semibold"
          >
            <<button
              (click)="closeError()"
              class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-5 h-5 rounded-full border border-red-600 dark:border-red-400 text-red-600 dark:text-red-400 font-bold hover:bg-red-100 dark:hover:bg-red-700 flex items-center justify-center"
            >
              &times;
            </button>

            {{(errorMessage())}}
          </div>
          }
        <div>
          <button
            type="submit"
            [disabled]="isLoading()"
             class="btn group relative flex justify-center" >
            @if (isLoading()) {
            <svg
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            Processing... } @else { Verify Code}
          </button>
        </div>
      </form>
      <div class="mt-6 text-center text-gray-600 dark:text-gray-300 text-sm">
        Don’t have an account?
        <a
          routerLink="/auth/register"
          class="text-blue-500 dark:text-blue-400 hover:underline ms-2.5"
        >
          Create Yours
        </a>
      </div>
    </div>
  </div>
  }
  <!-- newPassword -->
  @if (currentStep() === 'newPassword') {
  <div class="w-full py-8 px-6 sm:min-w-xl p-4 bg-transparent">
    <div class="mb-5">
      <h5 class="text-4xl font-bold text-gray-900">Create a New Password</h5>
      <p class="text-gray-500 mt-3">
        Create a new password for <span class="font-semibold">{{ userEmail() }}</span>
      </p>
    </div>

    <form [formGroup]="passwordForm" (submit)="passwordSubmit()" class="space-y-6">
      <!-- New Password -->
      <div>
        <label
          for="password"
          class="block text-md font-medium text-gray-700 dark:text-gray-300 mb-1"
          >New Password</label
        >
        <div class="relative">
          <input
            id="password"
            [type]="showPassword() ? 'text' : 'password'"
            formControlName="password"
            autocomplete="current-password"
            placeholder="Enter your password"
            class="block w-full px-3 py-2 pr-10 border border-gray-300 dark:border-gray-600 rounded-lg bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-white placeholder-gray-500 dark:placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
            [class.border-red-500]="
              passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched
            "
          />
          <button
            type="button"
            (click)="togglePasswordVisibility()"
            class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 hover:text-gray-600 dark:hover:text-gray-300"
          >
            @if (!showPassword()) {
            <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
              ></path>
            </svg>
            } @if (showPassword()) {
            <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.878 9.878L3 3m6.878 6.878L21 21"
              ></path>
            </svg>
            }
          </button>
        </div>
        <app-input-error [control]="passwordForm.get('password')"></app-input-error>
      </div>
      <div>
        <label
          for="newPassword"
          class="block text-md font-medium text-gray-700 dark:text-gray-300 mb-1"
          >Confirm New Password</label
        >
        <div class="relative">
          <input
            id="newPassword"
            [type]="showConfirmPassword() ? 'text' : 'password'"
            formControlName="newPassword"
            autocomplete="current-password"
            placeholder="Confirm Password"
            class="block w-full px-3 py-2 pr-10 border border-gray-300 dark:border-gray-600 rounded-lg bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-white placeholder-gray-500 dark:placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
            [class.border-red-500]="
              passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched
            "
          />
          <button
            type="button"
            (click)="toggleConfirmPasswordVisibility()"
            class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 hover:text-gray-600 dark:hover:text-gray-300"
          >
            @if (!showConfirmPassword()) {
            <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
              ></path>
            </svg>
            } @if (showConfirmPassword()) {
            <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.878 9.878L3 3m6.878 6.878L21 21"
              ></path>
            </svg>
            }
          </button>
        </div>
        <app-input-error [control]="passwordForm.get('newPassword')"></app-input-error>
      </div>
       @if (errorMessage()) {
          <div
            class="relative mb-5 w-full text-center mx-auto bg-red-50 dark:bg-red-900/20 border border-red-200 dark:border-red-800 text-red-600 dark:text-red-600 px-4 py-3 rounded-sm text-md fw-semibold"
          >
            <<button
              (click)="closeError()"
              class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-5 h-5 rounded-full border border-red-600 dark:border-red-400 text-red-600 dark:text-red-400 font-bold hover:bg-red-100 dark:hover:bg-red-700 flex items-center justify-center"
            >
              &times;
            </button>

            {{(errorMessage())}}
          </div>
          }
      <button
        type="submit"
        [disabled]="isLoading()"
        class="btn group relative flex justify-center" >
        @if (isLoading()) {
        <svg
          class="animate-spin -ml-1 mr-2 h-4 w-4 text-white inline"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        Creating ... } @else { Create }
      </button>
    </form>
    <div class="mt-6 text-center text-gray-600 dark:text-gray-300 text-sm">
      Don’t have an account?
      <a
        routerLink="/auth/register"
        class="text-blue-500 dark:text-blue-400 hover:underline ms-2.5"
      >
        Create Yours
      </a>
    </div>
  </div>
  }
</section>
